# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")
df = black_friday

## Inicie sua análise a partir daqui

In [3]:
#printando cabeçalho
df.head(3)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422

In [4]:
aux= pd.DataFrame({'columns': df.columns, 'tipos': df.dtypes, 'missing': df.isna().sum()})

In [5]:
aux['missing_percentual'] = aux['missing'] / df.shape[0]

In [6]:
aux.head(12)

,columns,tipos,missing,missing_percentual
User_ID,User_ID,int64,0,0.000000
Product_ID,Product_ID,object,0,0.000000
Gender,Gender,object,0,0.000000
Age,Age,object,0,0.000000
Occupation,Occupation,int64,0,0.000000
City_Category,City_Category,object,0,0.000000
Stay_In_Current_City_Years,Stay_In_Current_City_Years,object,0,0.000000
Marital_Status,Marital_Status,int64,0,0.000000
Product_Category_1,Product_Category_1,int64,0,0.000000
Product_Category_2,Product_Category_2,float64,166986,0.310627
Product_Category_3,Product_Category_3,float64,373299,0.694410
Purchase,Purchase,int64,0,0.000000

In [7]:
#verificando informaçõe do dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

RESOLUÇÃO DAS QUESTÕES

ENVIO DA QUESTÕES

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [16]:
#issue resolution 1 
#shape = return number rows and columns

df.shape

(537577, 12)

In [17]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return df.shape
    pass

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [18]:
#issue resolution 2

# resolution 1 - users uniques
#q2 = df[df.Age == '26-35']
#q3 = int(q2.groupby('Gender')['User_ID'].nunique()[0])
#return q3

# resolution 1 - not users uniques
#q2 = df[df.Age == '26-35']
#return (len(q2[q2.Gender == 'F']))

In [17]:
def q2():
    # Retorne aqui o resultado da questão 2.
    q2 = df[df.Age == '26-35']
    return (len(q2[q2.Gender == 'F'])) 
    pass

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [20]:
#issue resolution 3
#nunique return number data unique

df['User_ID'].nunique()

5891

In [21]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return df['User_ID'].nunique()
    pass

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [22]:
#issue resolution 4
# return number types unique

df.dtypes.nunique()

3

In [23]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return df.dtypes.nunique()
    pass

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [38]:
#issue resolution 5

# test method 1
#(sum([True for idx, row in df.iterrows() if any(row.isnull())])) 
# numero de linhas que possui null 373299

#df.shape[0] || len(df.index)
# numero de linhas 537577

#linhas com null / linhas total
#0.6944102891306734

#test method 2
#float(df.isnull().T.any().sum()/df.shape[0])

# #test method 3
type(float(((pd.isna(df).sum(axis=1) > 0).sum()) / (df.shape[0])))

float

In [39]:
def q5():
    # Retorne aqui o resultado da questão 5.
    return float(((pd.isna(df).sum(axis=1) > 0).sum()) / (df.shape[0]))
    pass

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [46]:
#issue resolution 
# method 1
#VariavelMaiorNUll = 0 
#for i in range(df.shape[1]):
#    if ((df[df.columns[i]].isna().sum()) > (VariavelMaiorNUll)):
#        VariavelMaiorNUll = (df[df.columns[i]].isna().sum())
#int(VariavelMaiorNUll)

#method 2
int(df.isna().sum().max())

373299

In [76]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return int(df.isna().sum().max())
    pass

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [72]:
#issue resolution 7
#verification for mode
float(df['Product_Category_3'].mode())

16.0

In [75]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return float(df['Product_Category_3'].mode())
    pass

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [162]:
#issue resolution 8
#formule normazilation
# data_normalization  = ( data - min(data) ) / ( max(data) - min(data) ) 

#method 1
#df.Purchase_Normalizet = (df.Purchase - min(df.Purchase)) / (max(df.Purchase) - min(df.Purchase))
#df.Purchase_Normalizet.mean()
#0.3847939036269795

max_value = df['Purchase'].max()
min_value = df['Purchase'].min()
purchase_norm = df.copy()
purchase_norm['Purchase'] = (df['Purchase'] - min_value) / (max_value - min_value)
float(purchase_norm['Purchase'].mean())

0.3847939036269795

In [163]:
def q8():
    # Retorne aqui o resultado da questão 8.
    max_value = df['Purchase'].max()
    min_value = df['Purchase'].min()
    purchase_norm = df.copy()
    purchase_norm['Purchase'] = (df['Purchase'] - min_value) / (max_value - min_value)
    return float(purchase_norm['Purchase'].mean())
    pass

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [147]:
##issue resolution 9  = int 348631
#formule padronizados = ( dados - dados.mean() ) / dados.std()
#method 1
mean = df.Purchase.mean() #mean dataframe not normalizet
std = df.Purchase.std() #std dataframe not normalizet
#df.Purchase_standardized = (df.Purchase - mean) / std
#df.Purchase_standardized.between(-1,1).sum()

Purchase_standardized = (df.Purchase - mean) / std
int(Purchase_standardized.between(-1,1).sum())

348631

In [148]:
def q9():
    # Retorne aqui o resultado da questão 9.
    mean = df.Purchase.mean() #mean dataframe not normalizet
    std = df.Purchase.std() #std dataframe not normalizet
    Purchase_standardized = (df.Purchase - mean) / std
    return int(Purchase_standardized.between(-1,1).sum())
    pass

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [149]:
#issue resolution 10
data_aux = df[df['Product_Category_2'].isna()]
type(data_aux['Product_Category_2'].equals(data_aux['Product_Category_3']))

#df['Product_Category_2'].equals(df['Product_Category_2'])

bool

In [150]:
def q10():
    # Retorne aqui o resultado da questão 10.
    data_aux = df[df['Product_Category_2'].isna()]
    return data_aux['Product_Category_2'].equals(data_aux['Product_Category_3'])
    pass